@tailwind base;
@tailwind components;
@tailwind utilities;

/* .input-phone-number {
  border-color: gray !important;
  border: 2 solid !important;
} */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.d-hotline.h-btn{
  display: none !important;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* @media screen and(width >= 1200px) {
  .curve-image {
    left: 80% !important;
    position: absolute !important;
  }
} */


.hide {
  display: block;
  position: absolute;
  width: 100%;
  top: 0; left: 0;
  bottom: 0; right: 0;
  transition: left 1s;
  overflow: hidden;
}

.show {
  display: block;
  position: fixed;
  /* width: 100%; */
  top: 0; left: 100%;
  bottom: 0; right: 0;
  transition: left 1s;
  overflow: hidden;
}


kbd {
  background: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px #00000028, 0 2px 0 0 #ffffffc3 inset;
  color: #131313;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  margin: auto;
}


.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 800;
}

.modal {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}