@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* @media screen and(width >= 1200px) {
  .curve-image {
    left: 80% !important;
    position: absolute !important;
  }
} */


.hide {
  display: block;
  position: absolute;
  width: 100%;
  top: 0; left: 0;
  bottom: 0; right: 0;
  transition: left 1s;
  overflow: hidden;
}

.show {
  display: block;
  position: fixed;
  /* width: 100%; */
  top: 0; left: 100%;
  bottom: 0; right: 0;
  transition: left 1s;
  overflow: hidden;
}
